.p-dialog {
	width: 300px;
	height: 250px;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
}
.p-dialog-header {
	text-align: center;
}
.p-dialog-title {
	font-size: 24px;
	font-weight: 700;
}

.dialogContent {
	text-align: center;
	font-size: 22px;
	font-weight: 500;
}
.p-dialog-footer {
	text-align: center;
}
