.container {
	--cell-width: 30px;
	--cell-border-width: 2px;
	--cell-count-easy: 9;
	--cell-count-medium: 16;
	--cell-count-hard: 30;

	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	margin-top: 100px;
}
.container--Easy {
	width: calc(
		var(--cell-count-easy) * (var(--cell-width) + var(--cell-border-width))
	);
}
.container--Medium {
	width: calc(
		var(--cell-count-medium) * (var(--cell-width) + var(--cell-border-width))
	);
}
.container--Hard {
	width: calc(
		var(--cell-count-hard) * (var(--cell-width) + var(--cell-border-width))
	);
}

.cell {
	border: 1px solid black;
	width: var(--cell-width);
	height: var(--cell-width);
	cursor: pointer;
	font-weight: 700;
}
.cell:hover {
	box-shadow: inset 0 0 5px lightgray;
}
.cell.open {
	background-color: transparent;
}

.cell.closed {
	background-color: rgb(120, 119, 119);
}

.p-dialog {
	width: 300px;
	height: 250px;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
}
.p-dialog-header {
	text-align: center;
}
.p-dialog-title {
	font-size: 24px;
	font-weight: 700;
}

.dialogContent {
	text-align: center;
	font-size: 22px;
	font-weight: 500;
}
.p-dialog-footer {
	text-align: center;
}
